.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-left: 20px;
  padding-right: 20px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 310px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 700px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    width: 1080px;
  }
}
body {
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
  color: #907e82;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  width: 100%;
  display: block;
  height: auto;
}

.footer-social {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.footer-social__block {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: flex-end;
  margin-bottom: 46px;
}
@media (min-width: 1200px) {
  .footer-social__block {
    margin-bottom: 50px;
  }
}

.footer-social__item:not(:last-child) {
  margin-right: 29px;
}
@media (min-width: 600px) {
  .footer-social__item:not(:last-child) {
    margin-right: 30px;
  }
}
@media (min-width: 1200px) {
  .footer-social__item:not(:last-child) {
    margin-right: 25px;
  }
}

.footer-social__link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  background-color: #ffa5ba;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social__link:hover, .footer-social__link:focus {
  background-color: #d41443;
}
.footer-social__link:hover svg, .footer-social__link:focus svg {
  fill: #ffffff;
}
@media (min-width: 600px) {
  .footer-social__link {
    height: 34px;
    width: 34px;
  }
}

.footer-social__icon {
  height: 20px;
  width: 20px;
  fill: #ffffff;
}

.footer-social__contact {
  font-size: 12px;
  font-weight: 500;
  line-height: 1.8333333333;
  color: #000000;
  margin-bottom: 50px;
}
.footer-social__contact a {
  color: #d41443;
}
@media (min-width: 600px) {
  .footer-social__contact {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.8571428571;
  }
}
@media (min-width: 1200px) {
  .footer-social__contact {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.875;
  }
}

.about-section {
  padding-top: 125px;
  padding-bottom: 40px;
  background-color: #fff5f6;
}

@media screen and (max-width: 767px) {
  .about-section {
    background-image: url(/milk-mobile.52a90eaa.png);
    background-position: 50% 90%;
    background-repeat: no-repeat;
    background-size: contain;
  }
}
@media screen and (max-width: 767px) and (min-device-pixel-ratio: 2) and (min-width: 320px), screen and (max-width: 767px) and (min-resolution: 192dpi), screen and (max-width: 767px) and (min-resolution: 2dppx) {
  .about-section {
    background-image: url(/milk-mobile@2x.bbcdc1ae.png);
  }
}
@media screen and (max-width: 767px) {
  .about-description {
    padding: 0 30px;
  }
}
.img-box {
  margin-bottom: 45px;
  min-width: 280px;
}

.about-description-main {
  margin-bottom: 25px;
  font-family: DM Sans;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.5833333333;
  color: #000000;
}
.about-description-minor {
  margin-bottom: 20px;
  font-family: DM Sans;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.5833333333;
  color: #907e82;
}

@media screen and (min-width: 768px) {
  .about-section {
    padding-bottom: 65px;
  }

  .img-box {
    margin-bottom: 45px;
    margin-right: 20px;
    min-width: 340px;
  }

  .about-content {
    display: flex;
    align-items: flex-start;
  }

  .about-description {
    padding-top: 50px;
  }
  .about-description-main {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.7857142857;
  }
  .about-description-minor {
    margin-bottom: 60px;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.7857142857;
    letter-spacing: 0.04em;
  }
}
@media screen and (min-width: 1280px) {
  .about-section {
    padding-bottom: 40px;
    background-image: url(/milk-desktop.5ae4b93b.png);
    background-position: 0 335px;
    background-repeat: no-repeat;
    background-size: contain;
  }
}
@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2) and (min-width: 320px), screen and (min-width: 1280px) and (min-resolution: 192dpi), screen and (min-width: 1280px) and (min-resolution: 2dppx) {
  .about-section .about-section {
    background-image: url(/milk-mobile@2x.bbcdc1ae.png);
  }
}
@media screen and (min-width: 1280px) {
  .img-box {
    margin-bottom: 0;
    margin-right: 75px;
    min-width: 516px;
  }
}
@media screen and (min-width: 1280px) {
  .about-description-main {
    margin-bottom: 35px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.75;
    letter-spacing: 0.04em;
  }
  .about-description-minor {
    margin-bottom: 45px;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.9285714286;
  }
}
.about-button {
  position: relative;
  display: flex;
  align-items: center;
  min-width: 176px;
  height: 44px;
  padding: 0 37px;
  font-family: DM Sans;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.2857142857;
  text-align: center;
  color: #d41443;
  background-color: #ffffff;
  border-radius: 22px;
  border: none;
  cursor: pointer;
}
.about-button-icon {
  position: absolute;
  top: 17px;
  right: 37px;
}
.about-button:hover, .about-button:focus {
  background-color: #fff5f6;
}

@media screen and (min-width: 768px) {
  .about-button {
    font-size: 16px;
    font-weight: 700;
    line-height: 1.3125;
  }
  .about-button-icon {
    top: 18px;
  }
}
.advantage {
  background: #fff5f6;
}

.advantage__block {
  padding-left: 25px;
  margin-bottom: 38px;
  max-width: 480px;
}
.advantage__block:last-child {
  margin-bottom: 0px;
}

.advantage__list {
  margin-bottom: 25px;
}
.advantage__list:last-child {
  margin-bottom: 0px;
}

.advantage__img-bucket {
  width: 34px;
  height: 50px;
}

.advantage__img-apple {
  width: 50px;
  height: 50px;
}

.advantage__img-heart {
  width: 44px;
  height: 50px;
}

.advantage__text-number {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: Titan One;
  font-size: 36px;
  line-height: 1.138;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #d41443;
}

.advantage__text {
  font-family: DM Sans;
  font-weight: 700;
  width: 230px;
  height: 36px;
  font-size: 12px;
  line-height: 1.666;
  color: #000000;
}

@media screen and (min-width: 768px) {
  .advantage {
    padding-left: 36px;
  }

  .advantage__container {
    align-items: center;
    display: flex;
    justify-content: center;
  }

  .advantage__block {
    margin-bottom: 0px;
    margin-right: 60px;
    padding-left: 0px;
    width: 180px;
    height: 226px;
  }
  .advantage__block:last-child {
    margin-right: 0px;
  }

  .advantage__text-number {
    font-size: 48px;
    line-height: 1.146;
  }

  .advantage__text {
    width: 180px;
    height: 71px;
    font-size: 14px;
    line-height: 1.71;
  }
}
@media screen and (min-width: 1200px) {
  .advantage__container {
    display: flex;
    padding-left: 115px;
  }

  .advantage__block {
    margin-right: 30px;
    width: 330px;
    height: 222px;
  }

  .advantage__text-number {
    font-size: 58px;
    line-height: 1.138;
  }

  .advantage__text {
    width: 330px;
    height: 52px;
    font-size: 16px;
    line-height: 1.75;
    letter-spacing: 0.02em;
  }

  .advantage__list {
    margin-bottom: 40px;
  }
  .advantage__list:nth-child(2n) {
    margin-bottom: 15px;
  }
  .advantage__list:last-child {
    margin-bottom: 0px;
  }
}
.contacts-section {
  background-color: #fff5f6;
}

@media screen and (min-width: 768px) {
  .contacts-list {
    display: flex;
    margin: -8px;
  }
}
@media screen and (min-width: 1280px) {
  .contacts-list {
    margin: -15px;
  }
}

.contacts-itme {
  background: #ffffff;
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;
  padding: 43px 20px;
  outline: 1px solid red;
}
@media screen and (min-width: 768px) {
  .contacts-itme {
    width: calc((100% - 3 * 16px) / 3);
    margin: 8px;
    padding: 50px 32px 50px 32px;
  }
}
@media screen and (min-width: 1280px) {
  .contacts-itme {
    padding-bottom: 62px;
    padding-top: 52px;
    padding-left: 43px;
    padding-right: 43px;
    width: calc((100% - 3 * 30px) / 3);
    margin: 15px;
  }
}
@media screen and (max-width: 767px) {
  .contacts-itme:not(:last-child) {
    margin-bottom: 20px;
  }
}

.contacts-title {
  min-width: 80px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  /* or 186% */
  background: #f0d1a5;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  letter-spacing: 0.04em;
  color: #ffffff;
}
@media screen and (min-width: 1280px) {
  .contacts-title {
    font-size: 16px;
  }
}

@media screen and (max-width: 767px) {
  .contacts-operatingmode-list {
    padding-top: 25px;
    padding-bottom: 25px;
  }
}

.contacts-operatingmode-itme:first-child {
  margin-bottom: 10px;
}

.contacts-city {
  font-weight: 500;
  line-height: 186%;
  /* or 22px */
  letter-spacing: 0.04em;
  color: #000000;
  margin-top: 25px;
  margin-bottom: 10px;
  font-size: 12px;
}
@media screen and (min-width: 768px) {
  .contacts-city {
    margin-top: 30px;
    margin-bottom: 14px;
    font-size: 14px;
  }
}
@media screen and (min-width: 1280px) {
  .contacts-city {
    margin-top: 32px;
    margin-bottom: 10px;
    font-size: 16;
  }
}

.contacts-sub-title {
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  /* or 150% */
  color: #907e82;
  margin-bottom: 25px;
}
@media screen and (min-width: 768px) {
  .contacts-sub-title {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1280px) {
  .contacts-sub-title {
    margin-bottom: 32px;
  }
}

.operatingmode-daies {
  font-weight: 500;
  font-size: 12px;
  line-height: 186%;
  /* or 22px */
  letter-spacing: 0.04em;
  color: #000000;
}

.contacts-data-list {
  padding-top: 25px;
}
.contacts-data-list:first-child {
  padding-bottom: 25px;
}

.operatingmode-time {
  font-weight: 500;
  font-size: 12px;
  line-height: 186%;
  /* identical to box height, or 22px */
  color: #ffa5ba;
}

.contacts-data-link {
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  /* or 150% */
  color: #907e82;
}

.contacts-btn-wraper {
  display: flex;
  flex-direction: column;
  padding-top: 54px;
  padding-bottom: 113px;
}

.btn {
  min-width: 161px;
  height: 44px;
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  color: #d41443;
}

.footer {
  background-color: #fff5f6;
}
@media (min-width: 600px) {
  .footer .container {
    display: flex;
    justify-content: space-between;
  }
}

.footer__motto {
  font-family: "Titan One", sans-serif;
  color: #ffa5ba;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.1111111111;
  text-transform: uppercase;
  margin-bottom: 43px;
}
.footer__motto span {
  display: block;
  font-size: 34px;
  font-weight: 400;
  line-height: 1.1470588235;
  color: #d41443;
  margin-top: 17px;
}
@media (max-width: 599px) {
  .footer__motto {
    width: 240px;
  }
}
@media (min-width: 600px) {
  .footer__motto {
    font-size: 26px;
    font-weight: 400;
    line-height: 1.1153846154;
    margin-bottom: 91px;
  }
  .footer__motto span {
    font-size: 48px;
    font-weight: 400;
    line-height: 1.1458333333;
    margin-top: 16px;
  }
}
@media (min-width: 600px) and (max-width: 1199px) {
  .footer__motto {
    width: 340px;
  }
}
@media (min-width: 1200px) {
  .footer__motto {
    font-size: 30px;
    font-weight: 400;
    line-height: 1.1333333333;
    margin-bottom: 97px;
  }
  .footer__motto span {
    font-size: 58px;
    font-weight: 400;
    line-height: 1.1379310345;
    margin-top: 15px;
  }
}

.copyright {
  display: flex;
  justify-content: center;
  width: 100%;
  border-top: 1px solid #e1e1e1;
  padding: 22px 0px 25px 0;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.5;
}
@media (min-width: 600px) {
  .copyright {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.8571428571;
    padding: 29px 0px 18px 0;
  }
}
@media (min-width: 1200px) {
  .copyright {
    padding: 9px 0px 10px 0;
  }
}

@media (max-width: 599px) {
  .copyright__text {
    width: 130px;
  }
}

.gallery {
  width: 100%;
}

@media screen and (max-width: 767px) {
  .gallery {
    padding-bottom: 80px;
  }
}
@media screen and (min-width: 768px) {
  .gallery {
    padding-bottom: 120px;
  }
}

header {
  position: absolute;
  top: 0;
  left: 0;
}

.navigation {
  display: flex;
  justify-content: space-between;
}

.navigation__burger {
  background-color: transparent;
  padding: 0;
}
.navigation__burger-icon {
  height: 12px;
  width: 20px;
  fill: #D41443;
}

.mobile-menu {
  position: absolute;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  background-color: #E17992;
  transform: translateX(100%);
  transition: transform 250ms ease;
}

.hero {
  position: relative;
  background-color: #ffb8ca;
  overflow: hidden;
}

.hero-wrapper {
  position: relative;
  z-index: 100;
}

.hero-title {
  font-size: 26px;
  font-weight: 400;
  line-height: 1.1538461538;
  padding-top: 137px;
  margin-bottom: 19px;
  max-width: 218px;
  font-family: Titan One, sans-serif;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 0.04em;
}

.hero-title-accent {
  font-size: 48px;
  font-weight: 400;
  line-height: 0.9583333333;
  color: #d41443;
}

.hero-btn {
  display: inline-block;
  font-family: inherit;
  padding: 10px 15px;
  margin-bottom: 160px;
  font-size: 8px;
  font-weight: 400;
  line-height: 1.25;
  border-radius: 20px;
  min-width: 65px;
  text-align: center;
  transform: scale(1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn-pink {
  color: #ffffff;
  background-color: #d41443;
  margin-right: 8px;
}
.hero-btn-pink:hover, .hero-btn-pink:focus {
  background-color: #c7133e;
  transform: scale(1.1);
}

.hero-btn-white {
  color: #d41443;
  background-color: #ffffff;
}
.hero-btn-white:hover, .hero-btn-white:focus {
  background-color: #ecebeb;
  transform: scale(1.1);
}

@keyframes changeSize {
  0% {
    transform: scale(0.1);
  }
  50% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}
.hero-ellipse {
  position: absolute;
  display: block;
  bottom: 75px;
  right: -55px;
  z-index: 1;
  width: 346px;
  height: 344px;
  background-color: #ffa5ba;
  border-radius: 50%;
  animation-name: changeSize;
  animation-duration: 1s;
  animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-ice-cream-img {
  position: absolute;
  bottom: 0;
  right: 32px;
  width: 171px;
  height: 410px;
  z-index: 10;
}

.font-heading {
  font-family: Titan One;
  font-style: normal;
  font-weight: normal;
  text-transform: uppercase;
  line-height: 1.14;
  letter-spacing: 0.04em;
}

.products-description {
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.52;
  color: #FFFFFF;
  text-transform: none;
}

.products {
  padding-top: 121px;
  padding-bottom: 98px;
  background-color: #E5E5E5;
  text-align: center;
}
.products-container {
  padding-right: 20px;
  padding-left: 20px;
  margin: 0 auto;
}
.products span {
  color: #FFA5BA;
  font-size: 18px;
  margin-bottom: 15px;
}
.products h1 {
  font-size: 34px;
  color: #D41443;
  margin-bottom: 144px;
}
.products h2 {
  font-size: 20px;
  color: #FFFFFF;
}
.products-cards-item {
  width: 100%;
  height: 485px;
  padding-top: 161px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
  background: #FFB8CA;
  border-radius: 24px;
}

.slider {
  text-align: center;
}

.slider__image {
  margin-bottom: 29px;
  margin-right: auto;
  margin-left: auto;
  width: 85px;
  height: 85px;
}

.slider__text,
.slider__location {
  color: #000000;
}

.slider__text {
  position: relative;
  font-size: 12px;
  font-weight: 500;
  line-height: 2.5833333333;
  margin-bottom: 52px;
  padding-top: 43px;
  padding-left: 57px;
  padding-right: 66px;
  padding-bottom: 20px;
  background-color: #fafafa;
  z-index: 1;
}
.slider__text::before {
  content: "";
  position: absolute;
  left: 61px;
  top: 28px;
  width: 54px;
  height: 40px;
  background-image: url("/quote.d1025c9c.png");
  z-index: -1;
}
.slider__text::after {
  content: "";
  position: absolute;
  bottom: -34px;
  left: 50%;
  width: 32px;
  height: 4px;
  text-decoration: dotted;
  transform: translateX(-50%);
  background-image: url("/dots.cb52ebcc.png");
  background-size: contain;
}

.slider__location {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.8571428571;
}

.title {
  margin-bottom: 25px;
  font-family: Titan One;
  font-size: 34px;
  font-weight: 400;
  line-height: 1.1470588235;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #d41443;
}

.subtitle {
  margin-bottom: 15px;
  font-family: Titan One;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.1666666667;
  text-align: center;
  text-transform: uppercase;
  color: #ffa5ba;
}

@media screen and (min-width: 768px) {
  .title {
    margin-bottom: 40px;
    font-size: 48px;
    font-weight: 400;
    line-height: 1.1458333333;
  }

  .subtitle {
    font-size: 26px;
    font-weight: 400;
    line-height: 1.1538461538;
  }
}
@media screen and (min-width: 1280px) {
  .title {
    margin-bottom: 50px;
    font-size: 58px;
    font-weight: 400;
    line-height: 1.1379310345;
    letter-spacing: 0.06em;
  }

  .subtitle {
    font-size: 30px;
    font-weight: 400;
    line-height: 1.1333333333;
    letter-spacing: 0.04em;
  }
}
.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

/*# sourceMappingURL=/src.e31bb0bc.css.map */